{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "transform-flow-strip-types"
  ],
  "env": {
    "migrate": {
      "plugins": [
        ["babel-plugin-webpack-alias", { "config": "./config/webpack/dev.js" }]
      ]
    }
  }
}